.DS_Store
.idea
env

tests/__pycache__/
dist/
tests/delta_res.csv
tests/diff_results.csv
tests/res.csv
tests/results/
tests/results_err/
wmm.egg-info/


wmm/.DS_Store
wmm/__pycache__/
wmm_test.egg-info/